<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
</head>
<body>
    <form action="{% url 'urlPageHome' %}" method="post">
        {% csrf_token %}
        <input type="text" name="method" value="create" hidden>
        <input type="text" name="last_name" placeholder="Имя" required>
        <input type="text" name="email" placeholder="Почта" required>
        <input type="number" name="age" placeholder="Возраст" required>
        <button>Отправить</button>
    </form>
    <p></p>
    <form action="{% url 'urlPageHome' %}" method="post">
        {% csrf_token %}
        <input type="text" name="method" value="update" hidden>
        <input type="text" name="email" placeholder="Найти почту" required>
        <input type="text" name="last_name" placeholder="Изменить имя" required>
        <button>Обновить</button>
    </form>
    <p></p>
    <form action="{% url 'urlPageHome' %}" method="post">
        {% csrf_token %}
        <input type="text" name="method" value="update_age" hidden>
        <input type="text" name="email" placeholder="Найти почту" required>
        <input type="number" name="age" placeholder="Изменить возраст" required>
        <button>Обновить</button>
    </form>
</body>
</html>