<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 50%;">
        <canvas id="myBrowsers"></canvas>
    </div>
    <div style="width: 50%;">
        <canvas id="myOS"></canvas>
      </div>
    <div style="width: 50%;">
        <canvas id="myPnews"></canvas>
      </div>
    
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
          let browsers = {{browsers|safe}}
          
          new Chart(document.getElementById('myBrowsers'), {
              
              type: 'doughnut',
              data: {
                  labels: Object.keys(browsers),
                  datasets: [{
                      data: Object.values(browsers),
                      borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        
      
      <script>
          let os = {{os|safe}}
          
          new Chart(document.getElementById('myOS'), {
              
              type: 'bar',
              data: {
                  labels: Object.keys(os),
                  datasets: [{
                      data: Object.values(os),
                      borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <script>
            let Pnews = {{pub_news|safe}}
            
            new Chart(document.getElementById('myPnews'), {
                
                type: 'radar',
                data: {
                    labels: Object.keys(Pnews),
                    datasets: [{
                        data: Object.values(Pnews),
                        borderWidth: 1
                      }]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      }
                  }
              });
          </script>
        
</body>
</html>