{% extends 'appPages/base.html' %}


{% block title %}Новости{% endblock %}
{% block content %}
    <section>
        <h1 class="news-title">Новости</h1>
        {{list_news}}
        <div class="news__content">
            {% for new in list_news %}
            <div class="news__content_card">
                <h2>{{new.title}}</h2>
                <p>{{new.content}}</p>
                <h6>{{new.date}}</h6>
                <a href="/news/{{new.id}}">Читать далее</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}