{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrf_token}}">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
        {% if product.count != 0 %}
            <div class="card" >
                <h1>{{product.title}}</h1>
                <h3>{{product.price}}</h3>
                <button id="addback" data-product-id="{{product.id}}">Добавить в корзину</button>
            </div>
        {% endif %}    
    {% endfor %}
    <div class="back"></div>
    <form action="{% url 'urlMethodDjangoPost' %}" method="post">
        {% csrf_token %}
        <input name="genre" type="text" placeholder="Введите жанр">
        <button>Отправить</button>
    </form>

    <form action="{% url 'urlMethodAjaxPost' %}" method="post" id="FormAjax">
        {% csrf_token %}
        <textarea name="desc" cols="30" rows="10"></textarea>
        <button>Отправить</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'appShop/js/script.js' %}"></script>
</body>
</html>