body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.search-input {
    border-radius: 60px;
    border: none;
    background-color: #d7865aaf;
    width: 100%;
    padding: 30px 60px;
    font-size: 18px;
    outline: none;
    color: azure;
}
.search {
    width: 80%;
    margin: 0 auto;
}
.search ul{
    width: 100%;
    background-color: #d3c4dbaf;
    padding: 0 50px;
    border-radius: 20px;
    color: #fff;
}
.search ul li a{
    color: #fff;
    text-decoration: none;
    
}
.search ul li{
    padding: 10px 0;
}